.admin {
    display: flex;
    height: 100%;
    max-width: 1151px;
    margin: 30px auto;
}

.components {
    width: 75%;
}

.routes {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.routes a {
    background-color: white;
}


