<section *ngIf="systemInformation" class="admin-section">
    <h1>System Information</h1>
    <section>
        <h2><u>All Submission Statistics</u></h2>
        <p>Primary submissions: {{systemInformation.primarySubmissions}}</p>
        <p>Submissions stored: {{systemInformation.submissionStored}}</p>
        <p>Percentage of stored submissions that are primary submissions: {{getPrimarySubmissionPercent()}}</p>
        <p>Number of submissions currently flagged for re-submission: {{systemInformation.submissionsFlagged}}</p>
    </section>
    <hr>
    <section>
        <h2><u>User Statistics</u></h2>
        <p>Total users: {{systemInformation.totalUsers}}</p>
        <p>Users: {{systemInformation.users}}</p>
        <p>Admins: {{systemInformation.admins}}</p>
        <p>Chairs: {{systemInformation.chairs}}</p>
        <p>Reviewers: {{systemInformation.reviewers}}</p>
    </section>
    <hr>
    <section>
        <h2><u>Review Groups</u></h2>
        <div class="review-groups">
            <div class="review-group" *ngFor="let reviewGroup of systemInformation.reviewGroups">
                <p>Group {{reviewGroup.name}} has {{reviewGroup.reviewers.length}} reviewers:</p>
                <p class="reviewer" *ngFor="let reviewer of reviewGroup.reviewers">
                    {{reviewer.FirstName}} {{reviewer.LastName}}
                </p>
            </div>
        </div>
        <!--<button mat-raised-button (click)="openRandomizeDialog()" style="background: #ffd75f">-->
            <!--Randomize Review Groups [WIP]</button>-->

        <br>

        <div *ngFor="let reviewGroup of systemInformation.reviewGroups">
            <div class="example-container">
                <h2>Group {{reviewGroup.name}} has {{reviewGroup.reviewers.length}} reviewers</h2>
                <div
                    cdkDropList
                    #groupA="cdkDropList"
                    [cdkDropListData]="groupAData"
                    [cdkDropListConnectedTo]="[groupB, groupC]"
                    class="example-list"
                    (cdkDropListDropped)="drop($event)">
                    <div class="example-box" *ngFor="let item of groupAData" cdkDrag>{{item}}</div>
                </div>
            </div>

        </div>
    </section>
    <hr>
    <section>
        <h2><u>T-Shirt Statistics</u></h2>
        <p>XXL: {{systemInformation.xxl}}</p>
        <p>XL: {{systemInformation.xl}}</p>
        <p>L: {{systemInformation.l}}</p>
        <p>M: {{systemInformation.m}}</p>
        <p>S: {{systemInformation.s}}</p>
        <p>XS: {{systemInformation.xs}}</p>
    </section>
</section>
