.admin-section > h1{
    text-align: center;
}

.admin-section {
    margin-left: 1em;
}

.reviewer {
    border: 2px solid black;
}

.review-groups {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.review-group {
    margin-right: 5em;
    text-align: center;
}
