<div *ngIf="systemInformation" class="user-info">
    <p>Total users: {{systemInformation.totalUsers}}</p>
    <p>
        <span class="admin">Admins: {{systemInformation.admins}}</span>&nbsp;&nbsp;
        <span class="chair">Chairs: {{systemInformation.chairs}}</span>&nbsp;&nbsp;
        <span class="reviewer">Reviewers: {{systemInformation.reviewers}}</span>&nbsp;&nbsp;
        <span class="user">Users: {{systemInformation.users}}</span>
    </p>
</div>

<mat-grid-list cols="4" rowHeight="260px">
    <mat-grid-tile *ngFor="let oneUser of users; let i = index">
        <mat-card [ngClass]="{'admin': oneUser.Role =='admin', 'user': oneUser.Role == 'user',
        'reviewer': oneUser.Role == 'reviewer', 'chair': oneUser.Role == 'chair'}">
            <mat-card-title>
                <b>{{oneUser.FirstName}} {{oneUser.LastName}}</b>
            </mat-card-title>
            <p>Role: {{oneUser.Role}}</p>
            <p>Shirt Size: {{oneUser.ShirtSize | uppercase}}</p>
            <mat-form-field>
                <mat-label>Change role</mat-label>

                <mat-select>
                    <mat-option *ngFor="let role of roles" [value]="role.value"
                                (click)="changeUserRole(oneUser, role.value)">
                        {{role.viewValue}}
                    </mat-option>
                </mat-select>

            </mat-form-field>

            <button *ngIf="editingRole && (oneUser == this.user)" mat-raised-button (click)="saveUserRole()">Confirm Role Change</button>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>
