@import "theme";
/* You can add global styles to this file, and also import other style files */
.nav-active {
    border-bottom: 1px solid mat-color($accent) !important;
    background-color: rgba(253, 255, 100, 0.2) !important;

}

.nav-active mat-icon {
    color: mat-color($accent) !important;
}

body {
    background-color: #efefef;
}
