@import "theme";
/* You can add global styles to this file, and also import other style files */

.nav-active mat-icon {
    color: mat-color($accent) !important;
}

html, body {
    background-color: #efefef;
    height: 100vh;
}

