@import '../node_modules/@angular/material/theming';
@import '../node_modules/@covalent/core/theming/all-theme';

@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$maroon: (
    50 : #efe0e3,
    100 : #d7b3ba,
    200 : #bd808c,
    300 : #a24d5d,
    400 : #8e263b,
    500 : #7a0018,
    600 : #720015,
    700 : #670011,
    800 : #5d000e,
    900 : #4a0008,
    A100 : #ff7e82,
    A200 : #ff4b51,
    A400 : #ff1820,
    A700 : #fd0009,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #fafafa,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$primary: mat-palette($maroon, 500);
$accent:  mat-palette($mat-amber, 400);

// The warn palette is optional (defaults to red).
$warn:    mat-palette($mat-red);


// Create the theme object (a Sass map containing all of the palettes).
$theme: mat-light-theme($primary, $accent, $warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($theme);
@include covalent-theme($theme);
