.submission-container {
    padding: 2% 5% 2% 5%;
}

.submission-content {
    border: 1px solid red;  //for debugging
    display: inline-block;
    width: 70%;
    float: left;
    padding: 0.5rem;
}

// comments
.submission-comments {
    border: 1px solid red;  //for debugging
    display: inline-block;
    width: 30%;
    float: left;
    padding: 0.5rem;
}

.comment {
    background-color: lightblue;
    padding: 0.5rem;
    margin-top: 0.5rem;
}

.top-level-comment {
    border: 1px solid red;  //for debugging
    display: inline-block;
    width: 100%;
    float: left;
    padding: 0.5rem;
}

.sub-comment {
    border: 1px solid red;  //for debugging
    display: inline-block;
    width: 95%;
    float: right;
    padding: 0.5rem;
}

.leave-a-comment {
    width: 100%;
}

.leave-comment-btn {
    background-color: green;
    margin: 0.5rem;
}

.new-comment-btn {
    background-color: cadetblue;
    margin: 0.5rem;
}

.debug-comment { //for debugging
    border: 1px solid black;
    display: inline-block;
    width: 100%;
    margin-top: 1rem;
    padding: 0.5rem;
}

// buttons
.button-container {
    border: 1px solid red;  //for debugging
}

// individual buttons
.back-to-list {
    background-color: gray;
    margin-bottom: 0.5rem;
}

.approve {
    background-color: lightgreen;
}

.reject {
    background-color: indianred;
}

.flag {
    background-color: lightblue;
}
