.button-container {
    border: 1px solid red;  //for debugging
}

// individual buttons
.back-to-list {
    background-color: palevioletred;
}

.approve {
    background-color: lightgreen;
}

.reject {
    background-color: indianred;
}

.flag {
    background-color: lightblue;
}
