.button-container {
    border: 1px solid red;  //for debugging
}

// individual buttons
.back-to-list {
    background-color: palevioletred;
}

.approve {
    background-color: green;
}

.reject {
    background-color: red;
}

.flag {
    background-color: blue;
}
