<div class="container" *ngIf="submissions">
    <div class="status-legend">

    </div>
    <div class="submission-card-container">
        <div class="submission-card" *ngFor="let submission of submissions" routerLink="/abstract/{{submission._id['$oid']}}" (click)="grabSubmissionId(submission._id['$oid'])">
            <div class="status-bar"></div>
            <div class="submission-card-content">
                <p style="overflow: hidden"><i>{{submission.presentationTitle}}</i></p>
                <p><b>Presenter(s):</b> </p>
                <ul>
                    <li *ngFor="let pres of submission.presenters">{{pres.presenterFirstName}} {{pres.presenterLastName}} ({{pres.presenterEmail}})</li>
                </ul>
                <p><b>Advisors(s):</b> </p>
                <ul>
                    <li *ngFor="let adv of submission.advisors">{{adv.advisorFirstName}} {{adv.advisorLastName}} ({{adv.advisorEmail}})</li>
                </ul>
                <p><b>Submission Date:</b> {{submission.timestamp | date: 'EEEE, MMMM d'}}</p>
            </div>
        </div>
    </div>
</div>
