.presentationTitle{
    text-align: center;
}

.presentationTitleBox{
    width: 50%;
    padding-bottom: 2px;
}

.abstractBox{
    width: 100%;
}

.formatDropdown{
    padding-right: 5px;
}

.mainTextButton{
    text-align: center;
}

.presenterForm{
    text-align: center;
}

.sponOrganization{
    text-align: center;
}

.checkboxes{
    width:0%;
    padding-left: 48%;
}

.adviserForm{
    text-align: center;
}

.additionalInfoPage{
    text-align: center;
}

.reviewAndSubmitPage{
    margin: auto;
    width: 50%;
    padding: 1rem;
}

.additionalInfoBoxes{
    width: 50%;
}

.mat-radio-button-inner-circle{
    background-color: red;
}

button {
    margin: 0.5rem;
}

#non-student-disclaimer {
    text-align: center;
}

.sponsored {
    //display: inline;
}
