<div layout-gt-sm="row">
    <div flex-gt-sm="80" flex-offset-gt-sm="10">
        <mat-card>
            <mat-card-title>2018 URS Submission Form</mat-card-title>
            <mat-divider></mat-divider>
            <mat-card-content>
                <mat-horizontal-stepper [linear]="true" #stepper>
                    <mat-step label="Application Info">
                        All applications to the Undergraduate Research Symposium must be accompanied by a brief statement of support from the student's project adviser.
                        The faculty mentor should indicate:<br>
                        * Confidence that the student's work will be ready to present by the URS date.<br>
                        * Approval of the submitted abstract/statement/proposal for publication as-is in the program book.<br>
                        Project adviser recommendations should complete the form prior to the student submitting their abstract for review.<br><br>

                        The UMM Undergraduate Research Symposium is a forum for UMM students to present their research, creative, and scholarly work representing the Divisions of Education,
                        Humanities, Science and Mathematics, and Social Sciences at UMM. Accordingly, submissions from students enrolled at other institutions will not be accepted.<br><br>

                        Your username (x500) will be recorded when you submit this form.

                        URS submission descriptions:<br><br>

                        General Criteria:<br>
                        All submissions should be no more than 250 words and should contain the following elements:<br>
                        1. A concise explanation of the creative or scholarly implications of the project. What is the creative/intellectual context of your work?<br>
                        2. Language that is clear and comprehensible to those who are not experts in the field.<br>
                        3. Professional tone, including appropriate word choice and correct grammar, spelling, and punctuation.<br><br>

                        Field-specific criteria:<br><br>

                        Mark the category below that best describes your project. Your 250-word submission must also include the appropriate field-specific elements listed below.<br><br>

                        Artist Statement Criteria<br>
                        Humanities Proposal Criteria<br>
                        Science and Social Science Abstract Criteria<br><br>

                        If you are unsure which category best fits your project, please consult your faculty sponsor.<br><br>
                        <div class="mainTextButton">
                            <button mat-raised-button matStepperNext color="primary">Next</button>
                        </div>
                    </mat-step>

                    <mat-step label="Title/Abstract/Format" [stepControl]="firstFormGroup">
                        <div class="presentationTitle">
                            <form [formGroup]="firstFormGroup">
                                <mat-form-field class="presentationTitleBox">
                                    <textarea matInput #input formControlName="firstCtrlOne"
                                           required
                                           placeholder="Presentation Title"
                                           (input)="presentationTitle = $event.target.value"
                                           rows="1"
                                              cols="1"></textarea>
                                </mat-form-field>

                                <mat-form-field class="abstractBox">
                                    <textarea matInput #input formControlName="firstCtrlTwo"
                                              required
                                              placeholder="Artist Statement/ Proposal/ Abstract"
                                              (input)="abstractContent = $event.target.value"
                                              rows="10"
                                              cols="1"></textarea>
                                </mat-form-field>

                                <br><br>

                                <mat-select placeholder="Format for Submission" required formControlName="firstCtrlThree">
                                    <mat-option #input value="artist statement" (click) = "submissionFormat = 'artist statement'">Artist Statement</mat-option>
                                    <mat-option #input value="humanities proposal" (click) = "submissionFormat = 'humanities proposal'">Humanities Proposal</mat-option>
                                    <mat-option #input value="science or social science abstract" (click) = "submissionFormat = 'science or social science abstract'">Science or Social Science Abstract</mat-option>
                                </mat-select>

                                <mat-select placeholder="Type of Presentation" required formControlName="firstCtrlFour">
                                    <mat-option #input value="poster or visual display" (click) = "presentationType = 'poster or visual display'">Poster or Visual Display</mat-option>
                                    <mat-option #input value="oral presentation" (click) = "presentationType = 'oral presentation'">Oral Presentation</mat-option>
                                    <mat-option #input value="performance" (click) = "presentationType = 'performance'">Performance</mat-option>
                                </mat-select>

                                <br><br>
                                Because of space constraints, we may not be able to have everyone do their preferred type of presentation.
                                If necessary, would you be willing to give your presentation in another format?
                                <br>
                                (No change in format will be made without first contacting the presenter first)
                                <br><br>

                                <mat-radio-group (change)="onFormatChange($event)" formControlName="firstCtrlFive">
                                    <mat-radio-button value="yes" color="primary">Yes</mat-radio-button>&nbsp;&nbsp;
                                    <mat-radio-button value="no" color="primary">No</mat-radio-button>
                                </mat-radio-group>
                                <br><br>

                                <button mat-raised-button button matStepperPrevious color="warn">Previous</button>
                                <button mat-raised-button matStepperNext color="primary" [disabled]="sectionOneComplete()">Next</button>
                            </form>
                        </div>
                    </mat-step>

                    <mat-step label="Presenter(s)/Discipline/Featured" [stepControl]="secondFormGroup">
                        <div class="presenterForm">
                            <form [formGroup]="secondFormGroup">
                                Who will be presenting? Please add their name(s) and their university email below. If there are more than one presenter, click the plus button
                                for more rows.
                                <br>

                                <mat-form-field required>
                                    <textarea matInput
                                              formControlName="secondCtrlOne"
                                              placeholder="First Name"
                                              (input) = "firstPresenterFirstName = $event.target.value"
                                              rows="1"
                                              cols="1">
                                    </textarea>
                                </mat-form-field>

                                <mat-form-field required>
                                    <textarea matInput
                                              formControlName="secondCtrlTwo"
                                              placeholder="Last Name"
                                              (input) = "firstPresenterLastName = $event.target.value"
                                              rows="1"
                                              cols="1">
                                    </textarea>
                                </mat-form-field>

                                <mat-form-field required>
                                    <textarea matInput
                                              formControlName="secondCtrlThree"
                                              placeholder="Full Email Address"
                                              (input) = "firstPresenterEmail = $event.target.value"
                                              rows="1"
                                              col="1">
                                    </textarea>
                                </mat-form-field>

                                <button mat-raised-button (click)="this.secondPresenter = true" *ngIf="!this.secondPresenter"><mat-icon>add_circle</mat-icon></button>
                                <br>

                                <mat-form-field *ngIf="this.secondPresenter">
                                    <textarea matInput
                                              placeholder="First Name"
                                              (input) = "secondPresenterFirstName = $event.target.value"
                                              rows="1"
                                              cols="1">
                                    </textarea>
                                </mat-form-field>

                                <mat-form-field *ngIf="this.secondPresenter">
                                    <textarea matInput
                                              placeholder="Last Name"
                                              (input) = "secondPresenterLastName = $event.target.value"
                                              rows="1"
                                              cols="1">
                                    </textarea>
                                </mat-form-field>

                                <mat-form-field *ngIf="this.secondPresenter">
                                    <textarea matInput
                                              placeholder="Full Email Address"
                                              (input) = "secondPresenterEmail = $event.target.value"
                                              rows="1"
                                              col="1">
                                    </textarea>
                                </mat-form-field>

                                <button mat-raised-button (click)="this.thirdPresenter = true"
                                        *ngIf="this.secondPresenter && !this.thirdPresenter"><mat-icon>add_circle</mat-icon></button>
                                <br>

                                <mat-form-field *ngIf="this.thirdPresenter">
                                    <textarea matInput
                                              placeholder="First Name"
                                              (input) = "thirdPresenterFirstName = $event.target.value"
                                              rows="1"
                                              cols="1">
                                    </textarea>
                                </mat-form-field>

                                <mat-form-field *ngIf="this.thirdPresenter">
                                    <textarea matInput
                                              placeholder="Last Name"
                                              (input) = "thirdPresenterLastName = $event.target.value"
                                              rows="1"
                                              cols="1">
                                    </textarea>
                                </mat-form-field>

                                <mat-form-field *ngIf="this.thirdPresenter">
                                    <textarea matInput
                                              placeholder="Full Email Address"
                                              (input) = "thirdPresenterEmail = $event.target.value"
                                              rows="1"
                                              col="1">
                                    </textarea>
                                </mat-form-field>
                                <br>

                                <mat-select placeholder="Academic Discipline" class="academicDiscipline" required formControlName="secondCtrlFour">
                                    <mat-option #input value="african and black american studies" (click) = "academicDiscipline = 'african and black american studies'">African and Black American Studies</mat-option>
                                    <mat-option #input value="anthropology" (click) = "academicDiscipline = 'anthropology'">Anthropology</mat-option>
                                    <mat-option #input value="art history" (click) = "academicDiscipline = 'art history'">Art History</mat-option>
                                    <mat-option #input value="biology" (click) = "academicDiscipline = 'biology'">Biology</mat-option>
                                    <mat-option #input value="chemistry & biochemistry" (click) = "academicDiscipline = 'chemistry and biochemistry'">Chemistry and Biochemistry</mat-option>
                                    <mat-option #input value="communication, media, & rhetoric" (click) = "academicDiscipline = 'communication/media/rhetoric'">Communication, Media, & Rhetoric</mat-option>
                                    <mat-option #input value="computer science" (click) = "academicDiscipline = 'computer science'">Computer Science</mat-option>
                                    <mat-option #input value="economics" (click) = "academicDiscipline = 'economics'">Economics</mat-option>
                                    <mat-option #input value="education" (click) = "academicDiscipline = 'education'">Education</mat-option>
                                    <mat-option #input value="elementary education" (click) = "academicDiscipline = 'elementary education'">Elementary Education</mat-option>
                                    <mat-option #input value="english/creative writing" (click) = "academicDiscipline = 'english/creative writing'">English/Creative Writing</mat-option>
                                    <mat-option #input value="environmental science" (click) = "academicDiscipline = 'environmental science'">Environmental Science</mat-option>
                                    <mat-option #input value="environmental studies" (click) = "academicDiscipline = 'environmental studies'">Environmental Studies</mat-option>
                                    <mat-option #input value="french" (click) = "academicDiscipline = 'french'">French</mat-option>
                                    <mat-option #input value="gender, women, and sexuality studies" (click) = "academicDiscipline = 'gender, women, and sexuality studies'">Gender, Women, and Sexuality Studies</mat-option>
                                    <mat-option #input value="geology" (click) = "academicDiscipline = 'geology'">Geology</mat-option>
                                    <mat-option #input value="german studies" (click) = "academicDiscipline = 'german studies'">German Studies</mat-option>
                                    <mat-option #input value="history" (click) = "academicDiscipline = 'history'">History</mat-option>
                                    <mat-option #input value="human services/general/criminal justice/social justice/human development" (click) = "academicDiscipline = 'human services/ general/ criminal justice/ social justice/ human development'">
                                        Human Services/General/Criminal Justice/Social Justice/Human Development</mat-option>

                                    <mat-option #input value="latin american area studies" (click) = "academicDiscipline = 'latin american area studies'">Latin American Area Studies</mat-option>
                                    <mat-option #input value="management" (click) = "academicDiscipline = 'management'">Management</mat-option>
                                    <mat-option #input value="medieval studies" (click) = "academicDiscipline = 'medieval studies'">Medieval Studies</mat-option>
                                    <mat-option #input value="music" (click) = "academicDiscipline = 'music'">Music</mat-option>
                                    <mat-option #input value="native american and indigenous studies" (click) = "academicDiscipline = 'native american and indigenous studies'">Native American and Indigenous Studies</mat-option>
                                    <mat-option #input value="philosophy" (click) = "academicDiscipline = 'philosophy'">Philosophy</mat-option>
                                    <mat-option #input value="german studies" (click) = "academicDiscipline = 'physics'">Physics</mat-option>
                                    <mat-option #input value="political science" (click) = "academicDiscipline = 'political science'">Political Science</mat-option>
                                    <mat-option #input value="psychology" (click) = "academicDiscipline = 'psychology'">Psychology</mat-option>
                                    <mat-option #input value="secondary education" (click) = "academicDiscipline = 'secondary education'">Secondary Education</mat-option>
                                    <mat-option #input value="social science" (click) = "academicDiscipline = 'social science'">Social Science</mat-option>
                                    <mat-option #input value="sociology" (click) = "academicDiscipline = 'sociology'">Sociology</mat-option>
                                    <mat-option #input value="spanish" (click) = "academicDiscipline = 'spanish'">Spanish</mat-option>
                                    <mat-option #input value="sport management" (click) = "academicDiscipline = 'sport management'">Sport Management</mat-option>
                                    <mat-option #input value="statistics" (click) = "academicDiscipline = 'statistics'">Statistics</mat-option>
                                    <mat-option #input value="studio art" (click) = "academicDiscipline = 'studio art'">Studio Art</mat-option>
                                    <mat-option #input value="theatre arts" (click) = "academicDiscipline = 'theatre arts'">Theatre Arts</mat-option>
                                    <mat-option #input value="other" (click)="this.other = true">Other</mat-option>
                                </mat-select>
                                <br><br>

                                <mat-form-field *ngIf="this.other">
                                <textarea matInput
                                          required
                                          placeholder="Please specify"
                                          (input) = "academicDiscipline = $event.target.value"
                                          rows="1"
                                          cols="1"></textarea>
                                </mat-form-field>
                                <br><br>
                                The URS features one presentation in the opening ceremony. This presentation
                                should have broader appeal with interdisciplinary components, and may easily
                                accommodate a performance component. The featured presenter will have more time,
                                as well as a bigger room than regular presentations. Would you be interested in
                                having your presentation featured during the opening ceremony?
                                <br><br>
                                <mat-radio-group (change)="onFeaturePresentationChange($event)" formControlName="secondCtrlFive">
                                    <mat-radio-button color="primary" value="yes">Yes</mat-radio-button>&nbsp;&nbsp;
                                    <mat-radio-button color="primary" value="no">No</mat-radio-button>
                                </mat-radio-group>
                                <br>
                                <br>
                                <button mat-raised-button matStepperPrevious color="warn">Previous</button>
                                <button mat-raised-button matStepperNext color="primary" [disabled]="sectionTwoComplete()">Next</button>
                            </form>
                        </div>
                    </mat-step>

                    <mat-step label="Sponsor(s)/Category">
                        <div class="sponOrganization">
                            <p>Sponsoring Organization or Fund</p>
                            <p>Choose any applicable. If funded by faculty grant, specify under 'other'</p>
                            <div class="checkboxes">
                                <mat-checkbox (click)="newSponsor(0)">UROP</mat-checkbox>
                                <br>
                                <mat-checkbox (click)="newSponsor(1)">MAP</mat-checkbox>
                                <br>
                                <mat-checkbox (click)="newSponsor(2)">MMP</mat-checkbox>
                                <br>
                                <mat-checkbox (click)="newSponsor(3)">LSAMP</mat-checkbox>
                            </div>
                            <br>

                            <mat-form-field>
                                <textarea matInput placeholder="Other"
                                          (input) = "miscSponOrganization = $event.target.value" rows="1" cols="1">
                                </textarea>
                            </mat-form-field>

                            <br>
                            <p>Special Categories</p>
                            <p>Choose any applicable.</p>
                            <div class="checkboxes">
                                <mat-checkbox (click)="newCategory(0)">Works in Progress</mat-checkbox>
                                <br>
                                <mat-checkbox (click)="newCategory(1)">Capstone</mat-checkbox>
                                <br>
                                <mat-checkbox (click)="newCategory(2)">Submitted Panel</mat-checkbox>
                                <br>
                                <mat-checkbox (click)="newCategory(3)">Sophomore Spotlight</mat-checkbox>
                            </div>
                            <br>

                            <br>
                            <button mat-raised-button matStepperPrevious color="warn">Previous</button>
                            <button mat-raised-button matStepperNext color="primary">Next</button>
                        </div>
                    </mat-step>

                    <mat-step label="Advisor(s)" [stepControl]="thirdFormGroup">
                        <div class="adviserForm">
                            <form [formGroup]="thirdFormGroup">
                                Who is the advisor(s)? Please add their name(s) and their university email below.
                                If there are more than one presenter, click the plus button for more rows.
                                <br>
                                <mat-form-field>
                                    <textarea matInput formControlName="thirdCtrlOne"
                                              placeholder="First Name"
                                              (input) = "firstAdvisorFirstName = $event.target.value"
                                              rows="1"
                                              cols="1">
                                    </textarea>
                                </mat-form-field>

                                <mat-form-field>
                                    <textarea matInput formControlName="thirdCtrlTwo"
                                            placeholder="Last Name"
                                            (input) = "firstAdvisorLastName = $event.target.value"
                                            rows="1"
                                            cols="1">
                                    </textarea>
                                </mat-form-field>

                                <mat-form-field>
                                    <textarea matInput formControlName="thirdCtrlThree"
                                              placeholder="Full Email Address"
                                              (input) = "firstAdvisorEmail = $event.target.value"
                                              rows="1"
                                              col="1">
                                    </textarea>
                                </mat-form-field>

                                <button mat-raised-button (click)="this.secondAdvisor = true"
                                        *ngIf="!this.secondAdvisor"><mat-icon>add_circle</mat-icon></button>
                                <br>
                                <mat-form-field *ngIf="this.secondAdvisor">
                                    <textarea matInput
                                              placeholder="First Name"
                                              (input) = "secondAdvisorFirstName = $event.target.value"
                                              rows="1"
                                              cols="1">
                                    </textarea>
                                </mat-form-field>

                                <mat-form-field *ngIf="this.secondAdvisor">
                                    <textarea matInput
                                              placeholder="Last Name"
                                              (input) = "secondAdvisorLastName = $event.target.value"
                                              rows="1"
                                              cols="1">
                                    </textarea>
                                </mat-form-field>

                                <mat-form-field *ngIf="this.secondAdvisor">
                                    <textarea matInput
                                              placeholder="Full Email Address"
                                              (input) = "secondAdvisorEmail = $event.target.value"
                                              rows="1"
                                              col="1">
                                    </textarea>
                                </mat-form-field>

                                <button mat-raised-button (click)="this.thirdAdvisor = true"
                                        *ngIf="this.secondAdvisor && !this.thirdAdvisor"><mat-icon>add_circle</mat-icon></button>
                                <br>
                                <mat-form-field *ngIf="this.thirdAdvisor">
                                    <textarea matInput
                                              placeholder="First Name"
                                              (input) = "thirdAdvisorFirstName = $event.target.value"
                                              rows="1"
                                              cols="1">
                                    </textarea>
                                </mat-form-field>

                                <mat-form-field *ngIf="this.thirdAdvisor">
                                    <textarea matInput
                                              placeholder="Last Name"
                                              (input) = "thirdAdvisorLastName = $event.target.value"
                                              rows="1"
                                              cols="1">
                                    </textarea>
                                </mat-form-field>

                                <mat-form-field *ngIf="this.thirdAdvisor">
                                    <textarea matInput
                                              placeholder="Full Email Address"
                                              (input) = "thirdAdvisorEmail = $event.target.value"
                                              rows="1"
                                              col="1">
                                    </textarea>
                                </mat-form-field>

                            </form>
                            <br>
                            <button mat-raised-button matStepperPrevious color="warn">Previous</button>
                            <button mat-raised-button matStepperNext color="primary" [disabled]="sectionFourComplete()">Next</button>
                        </div>
                    </mat-step>
                    <mat-step label="Misc Info/Submit">
                        <div class="additionalInfoPage">
                            Each presentation room will have available an overhead projector and a
                            Macintosh or PC computer with video projection capabilities.
                            Do you anticipate needing any additional Media Services equipment?
                            Please explain in detail:
                            <br>
                            <mat-form-field class="additionalInfoBoxes">
                                <textarea matInput
                                          placeholder="Additional Media Equipment"
                                          (input) = "additionalMediaEquipment = $event.target.value"
                                          rows="3"
                                          cols="1"></textarea>
                            </mat-form-field>
                            <br>
                            <br>
                            Do you anticipate any special room location,
                            non-media services equipment (i.e., recital hall, piano, etc.),
                            or scheduling requirements (i.e., several groups holding a forum
                            that would require more than the allotted 15 minutes)? Please explain in detail:
                            <br>
                            <mat-form-field class="additionalInfoBoxes">
                                <textarea matInput
                                          placeholder="Additional Info"
                                          (input) = "additionalRequirements = $event.target.value"
                                          rows="3"
                                          cols="1"></textarea>
                            </mat-form-field>
                            <br>
                            <br>
                            Is there anything else you would like us to know about your presentation?
                            <br>
                            <mat-form-field class="additionalInfoBoxes">
                                 <textarea matInput
                                           placeholder="Other"
                                           (input) = "other = $event.target.value"
                                           rows="3"
                                           cols="1"></textarea>
                            </mat-form-field>
                            <br>
                            <button mat-raised-button matStepperPrevious color="warn">Previous</button>
                            <button mat-raised-button matStepperNext color="primary">Next</button>
                        </div>
                    </mat-step>

                    <mat-step label="Review/Submit">
                        <div class="reviewAndSubmitPage">
                            Please review the following information before submitting:

                            <p>Presentation Title: {{presentationTitle}}</p>
                            <p>Abstract: {{abstractContent}}</p>
                            <p>Submission Format: {{submissionFormat}}</p>
                            <p>Presentation Type: {{presentationType}}</p>
                            <p>Willing to Change Format: {{willingToChangePresentationFormat}}</p>
                            <p>Presenter: {{firstPresenterFirstName}} {{firstPresenterLastName}}</p>
                            <p>Presenter Email: {{firstPresenterEmail}}</p>

                            <div *ngIf="secondPresenterFirstName">
                                <p>Second Presenter Name: {{secondPresenterFirstName}} {{secondPresenterLastName}}</p>
                                <p>Second Presenter Email: {{secondPresenterEmail}}</p>
                            </div>

                            <div *ngIf="thirdPresenterFirstName">
                                <p>Third Presenter Name: {{thirdPresenterFirstName}} {{thirdPresenterLastName}}</p>
                                <p>Third Presenter Email: {{thirdPresenterEmail}}</p>
                            </div>

                            <p>Discipline: {{academicDiscipline}}</p>
                            <p>Willing to be Feature Presentation: {{willingToBeFeaturePresenter}}</p>

                            <p *ngIf="sponOrganization">
                                <span> Sponsoring Organization: </span>
                                <span *ngIf="sponOrganization[0]">UROP </span>
                                <span *ngIf="sponOrganization[1]">MAP </span>
                                <span *ngIf="sponOrganization[2]">MMP </span>
                                <span *ngIf="sponOrganization[3]">LSAMP </span>
                            </p>

                            <p *ngIf="miscSponOrganization">
                                <span> OTHER Organizations: {{miscSponOrganization}}</span>
                            </p>

                            <p *ngIf="category">
                                <span> Categories: </span>
                                <span *ngIf="category[0]">Works in Progress </span>
                                <span *ngIf="category[1]">Capstone </span>
                                <span *ngIf="category[2]">Submitted Panel </span>
                                <span *ngIf="category[3]">Sophomore Spotlight </span>
                            </p>

                            <p>Advisor Name: {{firstAdvisorFirstName}} {{firstAdvisorLastName}}</p>
                            <p>Advisor Email: {{firstAdvisorEmail}}</p>

                            <div *ngIf="secondAdvisorFirstName">
                                <p>Second Advisor: {{secondAdvisorFirstName}} {{secondAdvisorLastName}}</p>
                                <p>Second Advisor Email: {{secondAdvisorEmail}}</p>
                            </div>

                            <div *ngIf="thirdAdvisorFirstName">
                                <p>Third Advisor: {{thirdAdvisorFirstName}} {{thirdAdvisorLastName}}</p>
                                <p>Third Advisor Email: {{thirdAdvisorEmail}}</p>
                            </div>

                            <p *ngIf="additionalMediaEquipment">Media Services Equipment: {{additionalMediaEquipment}}</p>
                            <p *ngIf="additionalRequirements">Special Requirements: {{additionalRequirements}}</p>
                            <p *ngIf="other">Other: {{other}}</p>

                            <br><br>
                            <button mat-raised-button matStepperPrevious color="warn">Previous</button>
                            <button mat-raised-button color="primary" (click)="saveSubmission()" routerLink="/">Submit</button>
                        </div>
                    </mat-step>
                </mat-horizontal-stepper>
            </mat-card-content>
        </mat-card>
    </div>
</div>
