<div layout-gt-sm="row">
    <div flex-gt-sm="80" flex-offset-gt-sm="10">
        <mat-card>
            <mat-card-title>2020 URS Submission Form</mat-card-title>
            <mat-divider></mat-divider>
            <mat-card-content [formGroup]="formGroup">
                <mat-horizontal-stepper [linear]="true" #stepper>
                    <mat-step label="Application Info">
                        <div id="infoPage">
                            <h1 id="non-student-disclaimer" *ngIf="user.Role!='user'">
                                Warning: As a non-student you can preview the form, but not
                                submit an abstract. If you or your students are having issues or or questions regarding the form,
                                contact small203@morris.umn.edu.
                            </h1>

                            All applications to the Undergraduate Research Symposium must be accompanied by a brief statement of support from the student's project adviser.
                            The faculty mentor should indicate:<br>
                            <ul>
                                <li>Confidence that the student's work will be ready to present by the URS date.</li>
                                <li>Approval of the submitted abstract/statement/proposal for publication as-is in the program book.</li>
                            </ul>
                            Project adviser recommendations should complete the form prior to the student submitting their abstract for review.<br><br>

                            The UMM Undergraduate Research Symposium is a forum for UMM students to present their research, creative, and scholarly work representing the Divisions of Education,
                            Humanities, Science and Mathematics, and Social Sciences at UMM. Accordingly, submissions from students enrolled at other institutions will not be accepted.<br><br>

                            <p class="text-center">
                                <b><u>Your username (x500) will be recorded when you submit this form.</u></b>
                            </p>

                            <br><br><p class="text-center"><i>URS Submission Descriptions:</i></p><br><br>

                            <b>General Criteria:</b><br>
                            All submissions should contain the following elements:<br><br>
                            1. A concise explanation of the creative or scholarly implications of the project. What is the creative/intellectual context of your work?<br>
                            2. Language that is clear and comprehensible to those who are not experts in the field.<br>
                            3. Professional tone, including appropriate word choice and correct grammar, spelling, and punctuation.<br><br>

                            <br>
                            <b>Field-specific criteria:</b><br>
                            Mark the category below that best describes your project. Your submission must also include the appropriate field-specific elements listed below.<br>

                            <ul>
                                <li>Artist Statement Criteria</li>
                                <li>Humanities Proposal Criteria</li>
                                <li>Science and Social Science Abstract Criteria</li>
                            </ul>

                            <br>
                            If you are unsure which category best fits your project, please consult your faculty sponsor.<br><br>
                            <div class="mainTextButton">
                                <button mat-raised-button matStepperNext color="primary">Next</button>
                            </div>
                        </div>

                    </mat-step>

                    <mat-step label="Title/Abstract/Format" [stepControl]="firstFormGroup">
                        <div class="presentationTitle">
                            <form [formGroup]="firstFormGroup" id="titleAndAbstract">
                                <mat-form-field class="presentationTitleBox">
                                    <mat-label>Title</mat-label>
                                    <input matInput #input formControlName="titleCtrl"
                                           required
                                           placeholder="Presentation Title"
                                           (input)="presentationTitle = $event.target.value"
                                           rows="1"
                                           cols="1">
                                </mat-form-field>

                                <mat-form-field class="abstractBox">
                                    <mat-label>Abstract</mat-label>
                                    <textarea matInput #input formControlName="abstractCtrl"
                                              required
                                              placeholder="Artist Statement/Proposal/Abstract"
                                              (input)="abstractContent = $event.target.value"
                                              rows="10"
                                              cols="1"></textarea>
                                </mat-form-field>

                                <br><br>

                                <mat-form-field>
                                    <mat-label>Format for Submission</mat-label>
                                    <mat-select placeholder="Format for Submission" required formControlName="subFormatCtrl">
                                        <mat-option #input value="artist statement" (click) = "submissionFormat = 'artist statement'">Artist Statement</mat-option>
                                        <mat-option #input value="humanities proposal" (click) = "submissionFormat = 'humanities proposal'">Humanities Proposal</mat-option>
                                        <mat-option #input value="science or social science abstract" (click) = "submissionFormat = 'science or social science abstract'">Science or Social Science Abstract</mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <br>

                                <mat-form-field>
                                    <mat-label>Type of Presentation</mat-label>
                                    <mat-select placeholder="Type of Presentation" required formControlName="presTypeCtrl">
                                        <mat-option #input value="poster or visual display" (click) = "presentationType = 'poster or visual display'">Poster or Visual Display</mat-option>
                                        <mat-option #input value="oral presentation" (click) = "presentationType = 'oral presentation'">Oral Presentation</mat-option>
                                        <mat-option #input value="performance" (click) = "presentationType = 'performance'">Performance</mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <br><br>

                                Because of space constraints, we may not be able to have everyone do their preferred type of presentation.
                                If necessary, would you be willing to give your presentation in another format?
                                <br>
                                (No change in format will be made without first contacting the presenter first)
                                <br><br>

                                <mat-radio-group (change)="onFormatChange($event)" formControlName="formatChangeCtrl">
                                    <mat-radio-button value="yes" color="primary">Yes</mat-radio-button>&nbsp;&nbsp;
                                    <mat-radio-button value="no" color="primary">No</mat-radio-button>
                                </mat-radio-group>
                                <br><br>

                                <button mat-raised-button button matStepperPrevious color="warn">Previous</button>
                                <button mat-raised-button matStepperNext color="primary" [disabled]="sectionOneComplete()">Next</button>
                            </form>
                        </div>
                    </mat-step>

                    <mat-step label="Discipline(s)/Featured" [stepControl]="secondFormGroup">
                        <div class="presenterForm">
                            <form [formGroup]="secondFormGroup">
                                <h3>Discipline(s)</h3>

                                <mat-form-field id="discipline">
                                    <mat-label>Academic Discipline</mat-label>
                                    <mat-select placeholder="Academic Discipline" class="academicDiscipline" required formControlName="disciplineCtrl" multiple>
                                        <mat-option *ngFor="let discipline of disciplines" [value]="discipline.key" (click)="addOrRemoveDiscipline(discipline)">
                                            {{discipline.value}}
                                        </mat-option>
                                        <mat-option #input (click)="this.otherAcademic = !this.otherAcademic">Other</mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <br>

                                <mat-form-field *ngIf="this.otherAcademic">
                                    <mat-label>Other Academic Discipline</mat-label>
                                        <input matInput
                                                  #input
                                                  required
                                                  placeholder="Please specify"
                                                  (input)="otherAcedemicDiscipline = $event.target.value"
                                                  rows="1"
                                                  cols="1">
                                </mat-form-field>

                                <br>

                                <p id="featuredPresentation">
                                    The URS abstract review committee selects one submission to be the Feature Presentation. This presentation
                                    should have broader appeal with interdisciplinary components, and may easily
                                    accommodate a performance component. The featured presenter will have more time,
                                    as well as a bigger room than regular presentations. Would you be interested in
                                    having your presentation featured during the opening ceremony?
                                </p>

                                <br><br>
                                <mat-radio-group (change)="onFeaturePresentationChange($event)" formControlName="featurePresCtrl">
                                    <mat-radio-button color="primary" value="yes">Yes</mat-radio-button>&nbsp;&nbsp;
                                    <mat-radio-button color="primary" value="no">No</mat-radio-button>
                                </mat-radio-group>
                                <br>
                                <br>
                                <button mat-raised-button matStepperPrevious color="warn">Previous</button>
                                <button mat-raised-button matStepperNext color="primary" [disabled]="sectionTwoComplete()">Next</button>
                            </form>
                        </div>
                    </mat-step>

                    <mat-step label="Presenter(s)" [stepControl]="presenters">
                        <div class="presenterForm">

                            <h3>Presenters</h3>

                            <form [formGroup]="presenters">
                                Who else will be presenting? Please add their name(s) and their university email below.
                                If there are more than one presenter, click the plus button for more rows.
                                <br>

                                <p>You will be automatically entered as: {{user.FirstName}} {{user.LastName}} ({{userEmail}})</p>

                                <br>

                                <button mat-raised-button (click)="addPresenter()" *ngIf="presenters.length < 10"><mat-icon>add_circle</mat-icon>Add Presenter</button>

                                <br><br>

                                <div *ngFor="let presenter of presenters.controls; index as i">
                                    <div>
                                        <ng-container [formGroup]="presenter">
                                            <mat-form-field>
                                                <mat-label>First Name</mat-label>
                                                <input matInput formControlName="presenterFirstName"
                                            placeholder="First Name">
                                            </mat-form-field>
                                            <mat-form-field>
                                                <mat-label>Last Name</mat-label>
                                                <input matInput formControlName="presenterLastName"
                                            placeholder="Last Name">
                                            </mat-form-field>
                                            <mat-form-field>
                                                <mat-label>Email</mat-label>
                                                <input matInput formControlName="presenterEmail"
                                            placeholder="Email">
                                            </mat-form-field>
                                        </ng-container>
                                        <button mat-raised-button (click)="removePresenter(i)" *ngIf="presenters.length > 0"><mat-icon>remove_circle</mat-icon>Remove Presenter</button>
                                    </div>
                                </div>
                                <br>
                                <button mat-raised-button matStepperNext color="primary" [disabled]="presentersComplete()">Next</button>
                            </form>
                        </div>
                    </mat-step>

                    <mat-step label="Sponsor(s)/Category">
                        <div class="sponOrganization">
                            <h3>Sponsoring Organization or Fund</h3>
                            <p>Choose any applicable. If funded by faculty grant, specify under 'other'</p>
                            <div class="checkboxes">
                                <mat-checkbox *ngFor="let sponsor of sponsoredOrganizations" [value]="sponsor.key" (click)="addOrRemoveSponsoredOrganization(sponsor)">
                                    {{sponsor.value}}
                                </mat-checkbox>
                            </div>
                            <br>

                            <mat-form-field>
                                <input matInput #input
                                          placeholder="Other Sponsor/Fund"
                                          (input)="miscSponOrganization = $event.target.value"
                                          rows="1"
                                          cols="1">
                            </mat-form-field>

                            <br>
                            <p>Special Categories</p>
                            <p>Choose any applicable.</p>
                            <div class="checkboxes">
                                <mat-checkbox *ngFor="let category of categories" [value]="category.key" (click)="addOrRemoveCategory(category)">
                                    {{category.value}}
                                </mat-checkbox>
                            </div>
                            <br>

                            <br>
                            <button mat-raised-button matStepperPrevious color="warn">Previous</button>
                            <button mat-raised-button matStepperNext color="primary">Next</button>
                        </div>
                    </mat-step>

                    <mat-step label="Advisor(s)" [stepControl]="advisors">
                        <div class="adviserForm">

                            <h3>Advisors</h3>

                            <form [formGroup]="advisors">
                                Who is the advisor(s)? Please add their name(s) and their university email below.
                                If there are more than one presenter, click the plus button for more rows.
                                <br><br>

                                <div *ngFor="let advisor of advisors.controls; index as i">
                                    <div>
                                        <button *ngIf="i == 0" mat-raised-button (click)="addAdvisor()"><mat-icon>add_circle</mat-icon> Add an Advisor</button>
                                        <ng-container [formGroup]="advisor">
                                            <mat-form-field>
                                            <input matInput formControlName="advisorFirstName"
                                            placeholder="First Name">
                                            </mat-form-field>

                                            <mat-form-field>
                                            <input matInput formControlName="advisorLastName"
                                            placeholder="Last Name">
                                            </mat-form-field>

                                            <mat-form-field>
                                            <input matInput formControlName="advisorEmail"
                                            placeholder="Email">
                                            </mat-form-field>
                                        </ng-container>
                                        <button *ngIf="i > 0" mat-raised-button (click)="removeAdvisor(i)"><mat-icon>remove_circle</mat-icon> Remove Advisor</button>
                                    </div>
                                </div>
                            </form>
                            <br>
                            <button mat-raised-button matStepperPrevious color="warn">Previous</button>
                            <button mat-raised-button matStepperNext color="primary" [disabled]="sectionThreeComplete()">Next</button>
                        </div>
                    </mat-step>

                    <mat-step label="Misc Info/Submit">
                        <div class="additionalInfoPage">
                            Each presentation room will have available an overhead projector and a
                            Macintosh or PC computer with video projection capabilities.
                            Do you anticipate needing any additional Media Services equipment?
                            Please explain in detail:
                            <br>
                            <mat-form-field class="additionalInfoBoxes">
                                <textarea matInput
                                          placeholder="Additional Media Equipment"
                                          (input) = "additionalMediaEquipment = $event.target.value"
                                          rows="3"
                                          cols="1"></textarea>
                            </mat-form-field>
                            <br>
                            <br>
                            Do you anticipate any special room location,
                            non-media services equipment (i.e., recital hall, piano, etc.),
                            or scheduling requirements (i.e., several groups holding a forum
                            that would require more than the allotted 15 minutes)? Please explain in detail:
                            <br>
                            <mat-form-field class="additionalInfoBoxes">
                                <textarea matInput
                                          placeholder="Additional Info"
                                          (input) = "additionalRequirements = $event.target.value"
                                          rows="3"
                                          cols="1"></textarea>
                            </mat-form-field>
                            <br>
                            <br>
                            Is there anything else you would like us to know about your presentation?
                            <br>
                            <mat-form-field class="additionalInfoBoxes">
                                 <textarea matInput
                                           placeholder="Other"
                                           (input) = "other = $event.target.value"
                                           rows="3"
                                           cols="1"></textarea>
                            </mat-form-field>
                            <br>
                            <button mat-raised-button matStepperPrevious color="warn">Previous</button>
                            <button mat-raised-button matStepperNext color="primary">Next</button>
                        </div>
                    </mat-step>

                    <mat-step label="Review/Submit">
                        <div>
                            <h1 class="text-center">Please review the following information before submitting.
                            </h1>
                            <h2 class="text-center">Feel free to navigate back to any step.</h2>
                            <br>
                            <div class="reviewAndSubmitPage">
                                <p><b>Presentation Title:</b> {{presentationTitle}}</p>
                                <p><b>Abstract:</b> {{abstractContent}}</p>
                                <p><b>Submission Format:</b> {{submissionFormat}}</p>
                                <p><b>Presentation Type:</b> {{presentationType}}</p>
                                <p><b>Willing to Change Format:</b> {{willingToChangePresentationFormat}}</p>

                                <p><b>Presenter(s):</b> </p>
                                <ul>
                                    <li>{{presenterWhoIsSubmitting.presenterFirstName}}
                                        {{presenterWhoIsSubmitting.presenterLastName}}
                                        ({{presenterWhoIsSubmitting.presenterEmail}})
                                    </li>
                                    <li *ngFor="let pres of presenters.value">
                                        {{pres.presenterFirstName}}
                                        {{pres.presenterLastName}}
                                        ({{pres.presenterEmail}})
                                    </li>
                                </ul>

                                <p><b>Discipline:</b>
                                    <span *ngFor="let discipline of academicDiscipline; let isLast = last">
                                        {{discipline.value}}{{isLast ? '' : ', '}}</span>
                                    <span *ngIf="otherAcedemicDiscipline.trim()!=''">
                                        <span *ngIf="academicDiscipline.length > 0; else standalone">, {{otherAcedemicDiscipline}}
                                        </span>
                                        <ng-template #standalone>
                                            {{otherAcedemicDiscipline}}
                                        </ng-template>
                                    </span>
                                </p>

                                <p><b>Willing to be Feature Presentation:</b> {{willingToBeFeaturePresenter}}</p>

                                <p *ngIf="sponOrganization.length>0 || miscSponOrganization">
                                    <b>Sponsoring Organization:</b>
                                    <span *ngFor="let sponsOrg of sponOrganization; let isLast = last">
                                        {{sponsOrg.value}}{{isLast ? '' : ', '}}</span>
                                    <span *ngIf="miscSponOrganization.trim()!=''">
                                        <span *ngIf="sponOrganization.length > 0; else standalone">, {{miscSponOrganization}}
                                        </span>
                                        <ng-template #standalone>
                                            {{miscSponOrganization}}
                                        </ng-template>
                                    </span>
                                </p>

                                <p *ngIf="category.length>0">
                                    <b>Categories:</b>
                                    <span *ngFor="let category of category; let isLast = last">{{category.value}}{{isLast ? '' : ', '}}</span>
                                </p>

                                <p><b>Advisors(s): </b></p>
                                <ul>
                                    <li *ngFor="let adv of advisors.value">{{adv.advisorFirstName}} {{adv.advisorLastName}} ({{adv.advisorEmail}})</li>
                                </ul>

                                <p *ngIf="additionalMediaEquipment"><b>Media Services Equipment:</b> {{additionalMediaEquipment}}</p>
                                <p *ngIf="additionalRequirements"><b>Special Requirements:</b> {{additionalRequirements}}</p>
                                <p *ngIf="other"><b>Other:</b> {{other}}</p>
                            </div>
                            <br><br>
                            <h3 *ngIf="user.ShirtSize==''" class="text-center">Make sure to set your shirt size on the profile page after you submit!</h3>
                            <br><br>
                            <div class="text-center">
                                <button mat-raised-button matStepperPrevious color="warn">Previous</button>

                                <div *ngIf="(this.otherAcedemicDiscipline.trim() == '') && (this.otherAcademic) && (this.academicDiscipline.length == 0); else valid">
                                    <h1><b>Missing a discipline. Either type in an 'other' or pick one of the options on the 'Disciplines' step.</b></h1>
                                </div>

                                <ng-template #valid>
                                    <button mat-raised-button color="primary" (click)="saveSubmission()" routerLink="/"
                                            *ngIf="user.Role=='user' && user.Email.includes('umn.edu'); else notStudent">Submit</button>
                                    <ng-template #notStudent>
                                        <button mat-raised-button color="primary">Submit (non-students cannot submit)</button>
                                    </ng-template>
                                </ng-template>
                            </div>

                        </div>

                    </mat-step>
                </mat-horizontal-stepper>
            </mat-card-content>
        </mat-card>
    </div>
</div>
