.studentPOV {
    text-align: center;
}

.wrongRole {
    text-align: center;
}

h2 {
    text-align: center;
}

.studentCard {
    border: 6px solid #7a0019;
}

.higherRoleCard {
    border: 6px solid #ffcc33;
}
