<section class="account-info">
    <div class="account-info-header">
        <div class="account-info-header-container">
            <div class="profile-pic-wrapper">
                <img class="profile-pic" alt="Profile picture" [src]="profilePic">
            </div>
            <div class="profile-details">
                <h1 class="profile-name" *ngIf="user">{{user.FirstName}} {{user.LastName}}</h1>
                <h3 class="profile-role" *ngIf="user && user.Role != 'user'">Role: {{user.Role | uppercase}}</h3>
                <div class="profile-shirt-size">
                    <h3 *ngIf="user && !isEditing">Shirt Size: {{user.ShirtSize | uppercase}}</h3>
                    <h3 *ngIf="user && isEditing">Shirt Size: </h3>
                    <div class="edit-form" *ngIf="isEditing">
                        <mat-form-field>
                            <mat-label>Please select size</mat-label>
                            <mat-select [(ngModel)]="user.ShirtSize">
                                <mat-option *ngFor="let size of shirtSizes" [value]="size.value"
                                            (click)="saveUserShirtSize(user.ShirtSize)">
                                    {{size.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <mat-icon class="edit-icon" *ngIf="!isEditing" (click)="changeEditState()">edit</mat-icon>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="isMobile" class="sign-out-option">
        <button mat-raised-button (click)="authenticationService.signOut()">Sign out</button>
    </div>
</section>
