.account-info-header {
    height: 300px;
    width: 850px;
    margin: 2vh auto;
    background-color: #f0f0f0;
    border: 2px solid #ffcc33;
    box-shadow: 5px 6px 0 #ffcc33;
}

.profile-pic {
    height: 40%;
    width: auto;
    border-radius: 50%;
    border-color: #ffcc33;
    background: #ffcc33;
}
