<div class="account-info-header">
    <div class="account-info-header-container">
        <div class="profile-pic-wrapper">
            <img class="profile-pic" [src]="profilePic">
        </div>
        <div class="profile-details">
            <h1 class="profile-name" *ngIf="user && !isEditing">{{getName()}}</h1>
            <h3 class="profile-role" *ngIf="user && !isEditing && user.Role != 'user'">Role: {{getRole()}}</h3>
            <h3 class="profile-shirt-size" *ngIf="user && !isEditing">Shirt Size: {{getShirtSize()}}</h3>
            <div class="edit-form" *ngIf="isEditing">
                <form>
                    <mat-form-field>
                        <input matInput name="profileShirtSize" placeholder={{getShirtSize()}} [(ngModel)]="shirtSize">
                    </mat-form-field>
                </form>
            </div>

        </div>
        <div class="account-buttons">
            <button *ngIf="!isEditing" (click)="changeEditState()" color="primary" mat-raised-button class="edit-button">
                Edit Profile
            </button>
            <button *ngIf="isEditing" (click)="saveUser()" color="accent" mat-raised-button class="save-button">
                Update Profile
            </button>
        </div>
    </div>
</div>
