<div layout-gt-sm="row">
    <div flex-gt-sm="80" flex-offset-gt-sm="10">
        <mat-card>
            <mat-card-title>Account Information</mat-card-title>
            <mat-divider></mat-divider>
            <mat-card-content>
                Hello [Insert Name] <br>
                You are signed in as a(n) [Insert Role]<br>
                T-Shirt size is [Insert T-Shirt size]<br>
                Please make sure your t-shirt size is up to date.<br>

                <form>
                    <mat-select placeholder="T-Shirt Size:">
                        <mat-option #input value="small">Small</mat-option>
                        <mat-option #input value="medium">Medium</mat-option>
                        <mat-option #input value="large">Large</mat-option>
                        <mat-option #input value="xl">XL</mat-option>
                        <mat-option #input value="xxl">XXL</mat-option>
                        <mat-option #input value="xxxl">XXXL</mat-option>
                    </mat-select>
                </form>

            </mat-card-content>
        </mat-card>
    </div>
</div>
