.headers {
    text-align: center;
}

.outer-wrapper {
    padding: 4rem;
}

h3 {
    text-align: center;
    padding: 0.5rem;
}

p {
    text-align: center;
    padding: 0.3rem;
}

.role {
    margin: 0.5rem;
    border: 2px black solid;
    border-radius: 0.8rem;
    background: white;
}
