<div class="outer-wrapper">
    <div class="headers">
        <h1>Been assigned the wrong role?</h1>
        <h2>Apologies for the mistake. This website is undergraduate research itself by the student developers who made
            this... isn't the site all about helping correct students anyways!</h2>
    </div>

    <div>
        <div class="role">
            <h3>If you are supposed to be a co-presenter: </h3>
            <p>Co-presenters are assigned to their abstract by the presenter that submitted the abstract when the presenter
                submitted a co-presenter's x500 email. Email &lt;insert_admin_email&gt; here to be properly assigned.</p>
        </div>

        <div class="role">
            <h3>If you are supposed to be an Advisor: </h3>
            <p>Advisors are assigned to an abstract by the Gmail address that a student submitter provided for their
                advisor(s). Email &lt;insert_admin_email&gt; here to be properly assigned.</p>
        </div>

        <div class="role">
            <h3>If you are supposed to be an Admin or Chair: </h3>
            <p>Admins and Chairs were provided to the web developer who created this website to pre-assign before the
                website was even launched. Any issues with roles not properly assigned on this website is theirs (mine),
                but this is extra embarrassing isn't it... Email &lt;insert_admin_email&gt; here to be properly assigned.</p>
        </div>
    </div>
</div>



