<div class="outer-wrapper">
    <div class="headers">
        <h1>Been assigned the wrong role?</h1>
        <h2>Apologies for the mistake. This website is undergraduate research itself by the student developers who made
            this... isn't the site all about helping correct students anyways!</h2>
    </div>

    <div>
        <div class="role">
            <h3>If you are supposed to be a co-presenter: </h3>
            <p>Co-presenters are assigned to their abstract by the presenter that submitted the abstract when the presenter
                submitted a co-presenter's x500 email. Email small203@morris.umn.edu to be properly assigned.</p>
        </div>

        <div class="role">
            <h3>If you are supposed to be an Advisor: </h3>
            <p>Advisors are assigned to an abstract by the Gmail address that a student submitter provided for their
                advisor(s). Email small203@morris.umn.edu to be properly assigned.</p>
        </div>

        <div class="role">
            <h3>If you are supposed to be an Admin or Chair: </h3>
            <p>Fellow admins and chairs would be glad to invite you into the club. Email small203@morris.umn.edu to be properly assigned.</p>
        </div>
    </div>
</div>



