<mat-toolbar color="primary">
    <img src="../../assets/driven.gif">
</mat-toolbar>
<mat-toolbar color="accent" class="navigation">
    <a class="urs" color="primary"  routerLink="/"><b>UNDERGRAD REASEARCH SYMPOSIUM</b></a>
    <span class="spacer"></span>
    <a color="primary"  routerLink="/" routerLinkActive="nav-active" [routerLinkActiveOptions]="{ exact: true }">
        <b>
        Home
        </b>
    </a>
    <a  color="primary"  routerLink="/admin" routerLinkActive="nav-active"><b>Admin</b></a>
    <a color="primary"  routerLink="/submissionList" routerLinkActive="nav-active"><b>Submission List</b></a>
    <img class="profile-pic" [src]="profilePic">
</mat-toolbar>
