<mat-toolbar *ngIf="!isMobile" color="accent" class="navigation">
    <a class="urs" color="primary"  routerLink="/"><b>Undergraduate Research Symposium</b></a>
    <span class="spacer"></span>
    <a color="primary"  routerLink="/" routerLinkActive="nav-active" [routerLinkActiveOptions]="{ exact: true }">
        <b>
        Home
        </b>
    </a>
    <a *ngIf="isAdmin()" color="primary"  routerLink="/admin" routerLinkActive="nav-active"><b>Admin</b></a>

    <a color="primary"  routerLink="/submissionList" routerLinkActive="nav-active">
        <b *ngIf="user.Role!='user'; else isUser">Submission List</b>

        <ng-template #isUser>
            <div *ngIf="submissions.length > 0">
                <b>Your Submissions</b>
            </div>
        </ng-template>
    </a>

    <img class="profile-pic" alt="Profile picture" [src]="profilePic" (click)="goToAccountInfo()">
    <div class="account-options">
        <div class="options">
            <div class="profile-option" (click)="goToAccountInfo()">
                <p class="option">Profile</p>
            </div>
            <div class="sign-out-option" (click)="authenticationService.signOut()">
                <p class="option">Sign Out</p>
            </div>
        </div>
        <div class="hover-extender"></div>
        <div class="account-tab"></div>
        <div class="triangle"></div>
    </div>
</mat-toolbar>

<mat-toolbar *ngIf="isMobile" class="navigation">
    <a routerLink="/accountInfo" class="route" routerLinkActive="nav-active">
        <mat-icon>account_box</mat-icon>
        <div class="link-name">
            PROFILE
        </div>
    </a>
    <a routerLink="/" class="route" routerLinkActive="nav-active" [routerLinkActiveOptions]="{ exact: true }">
        <mat-icon>home</mat-icon>
        <div class="link-name">
            HOME
        </div>
    </a>
    <a routerLink="/submissionList" class="route" routerLinkActive="nav-active">
        <mat-icon>view_list</mat-icon>
        <div class="link-name">
            SUBMISSIONS
        </div>
    </a>
    <a *ngIf="isAdmin()" class="route" routerLink="/admin" routerLinkActive="nav-active">
        <mat-icon>dashboard</mat-icon>
        <div class="link-name">
            ADMIN
        </div>
    </a>
</mat-toolbar>



