.spacer {
    flex: 1 1 auto;
}

.profile-pic {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 25px;
    margin-right: 20px;
}

a {
    font-family: Arial;
    font-size: 100%;
    text-decoration: none;
    color: #7a0018;
}

a:not(:first-child) {
    margin: 20px;
}

a:hover {
    color: white;
}

@keyframes urs {
    from {color: #7a0018;}
    to {color: white;}
}

.urs:hover {
    -webkit-animation-name: urs;
    -moz-animation-name: urs;
    -o-animation-name: urs;
    animation-name: urs;
    -webkit-animation-duration: .3s;
    -moz-animation-duration: .3s;
    -o-animation-duration: .3s;
    animation-duration: .3s;
}
