<body>
<div class="background">
    <div class="nav-bar">
        <mat-toolbar color="primary" class="navigation">
            <!--<img class="morris-logo" src="../../assets/morris.jpg">-->
        </mat-toolbar>
    </div>
    <div class="main-content" layout-sm="column" layout-xs="column" layout="row" >
        <div class="welcome-content">
            <h1 class="welcome-title">Welcome to URS!</h1>
            <img class="urs-logo" src="../../assets/urs.jpg">
            <p class="welcome-explanation">This is a web tool designed for the University
                of Minnesota Morris Undergraduate Research Symposium.</p>
        </div>
        <div class="sign-in-content">
            <h3 class="sign-in-text">Please sign in with a valid University of Minnesota email address</h3>
            <div id="my-signin2"></div>
        </div>
    </div>
</div>
</body>
