.login-page {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main {
    background-image: linear-gradient(rgba(122, 0, 25, 0.61), rgba(122, 118, 10, 0.5)),
                        url("../../assets/research.png");

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #7a0019;
    flex-direction: column;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    overflow-y: auto;
}

.content {
    text-align: center;
}

.sign-in {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.nav-bar {
    background-color: #7a0019;
    height: 8vh;
}
