.morris-logo {
    max-width: 108px;
}

.background {
    width: 100%;
    height: 100%;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75vh;
}

.welcome-content {
    max-width: 550px;
    padding-right: 15%;
}

.welcome-title {
    size: 30px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 50px;
}

.welcome-explanation {
    max-width: 500px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 30px;
}

.sign-in-text {
    font-size: 20px;
}

.urs-logo {
    max-width: 550px;
}
