<div class="login-page">
    <div class="main">
        <section class="content">
            <h1 class="welcome font-effect-outline">Welcome to URS</h1>
            <p class="welcome-explanation font-effect-outline">
                Manage your research abstracts for the University of Minnesota Morris Undergraduate Research Symposium.
            </p>
        </section>
        <section class="sign-in">
            <p class="sign-in-request font-effect-outline">Please sign in with a valid U of M Morris email address</p>
            <div id="my-signin2"></div>
        </section>
    </div>
</div>
