<div *ngIf="submission" class="outer-div">

    <h2>This form is not about adding items. Any items changed are all that will show up.</h2>

    <div class="category">
        <span><b>Presentation Title: </b> {{submission.presentationTitle}}</span>
        <mat-form-field class="presentationTitleBox" style="display: inline-block; width: 100%">
            <textarea matInput #input
                      placeholder="New Presentation Title"
                      (input)="submission.presentationTitle = $event.target.value"
                      rows="1"
                      cols="1"></textarea>
        </mat-form-field>
    </div>

    <div class="category">
        <span><b>Abstract: </b> {{submission.abstractContent}}</span>
        <mat-form-field style="display: inline-block; width: 100%">
            <textarea matInput #input
                      placeholder="New Abstract"
                      (input)="submission.abstractContent = $event.target.value"
                      rows="1"
                      cols="1" class="presentationAbstractBox"></textarea>
        </mat-form-field>
    </div>

    <div id="academic-discipline" class="category">
        <div>
            <span><b>Discipline:</b> {{submission.academicDiscipline}}</span>
            <mat-select placeholder="New Academic Discipline">
                <mat-option #input value="african and black american studies" (click) = "submission.academicDiscipline = 'african and black american studies'">African and Black American Studies</mat-option>
                <mat-option #input value="anthropology" (click) = "submission.academicDiscipline = 'anthropology'">Anthropology</mat-option>
                <mat-option #input value="art history" (click) = "submission.academicDiscipline = 'art history'">Art History</mat-option>
                <mat-option #input value="biology" (click) = "submission.academicDiscipline = 'biology'">Biology</mat-option>
                <mat-option #input value="chemistry & biochemistry" (click) = "submission.academicDiscipline = 'chemistry and biochemistry'">Chemistry and Biochemistry</mat-option>
                <mat-option #input value="communication, media, & rhetoric" (click) = "submission.academicDiscipline = 'communication/media/rhetoric'">Communication, Media, & Rhetoric</mat-option>
                <mat-option #input value="computer science" (click) = "submission.academicDiscipline = 'computer science'">Computer Science</mat-option>
                <mat-option #input value="economics" (click) = "submission.academicDiscipline = 'economics'">Economics</mat-option>
                <mat-option #input value="education" (click) = "submission.academicDiscipline = 'education'">Education</mat-option>
                <mat-option #input value="elementary education" (click) = "submission.academicDiscipline = 'elementary education'">Elementary Education</mat-option>
                <mat-option #input value="english/creative writing" (click) = "submission.academicDiscipline = 'english/creative writing'">English/Creative Writing</mat-option>
                <mat-option #input value="environmental science" (click) = "submission.academicDiscipline = 'environmental science'">Environmental Science</mat-option>
                <mat-option #input value="environmental studies" (click) = "submission.academicDiscipline = 'environmental studies'">Environmental Studies</mat-option>
                <mat-option #input value="french" (click) = "submission.academicDiscipline = 'french'">French</mat-option>
                <mat-option #input value="gender, women, and sexuality studies" (click) = "submission.academicDiscipline = 'gender, women, and sexuality studies'">Gender, Women, and Sexuality Studies</mat-option>
                <mat-option #input value="geology" (click) = "submission.academicDiscipline = 'geology'">Geology</mat-option>
                <mat-option #input value="german studies" (click) = "submission.academicDiscipline = 'german studies'">German Studies</mat-option>
                <mat-option #input value="history" (click) = "submission.academicDiscipline = 'history'">History</mat-option>
                <mat-option #input value="human services/general/criminal justice/social justice/human development" (click) = "submission.academicDiscipline = 'human services/ general/ criminal justice/ social justice/ human development'">
                    Human Services/General/Criminal Justice/Social Justice/Human Development</mat-option>

                <mat-option #input value="latin american area studies" (click) = "submission.academicDiscipline = 'latin american area studies'">Latin American Area Studies</mat-option>
                <mat-option #input value="management" (click) = "submission.academicDiscipline = 'management'">Management</mat-option>
                <mat-option #input value="medieval studies" (click) = "submission.academicDiscipline = 'medieval studies'">Medieval Studies</mat-option>
                <mat-option #input value="music" (click) = "submission.academicDiscipline = 'music'">Music</mat-option>
                <mat-option #input value="native american and indigenous studies" (click) = "submission.academicDiscipline = 'native american and indigenous studies'">Native American and Indigenous Studies</mat-option>
                <mat-option #input value="philosophy" (click) = "submission.academicDiscipline = 'philosophy'">Philosophy</mat-option>
                <mat-option #input value="german studies" (click) = "submission.academicDiscipline = 'physics'">Physics</mat-option>
                <mat-option #input value="political science" (click) = "submission.academicDiscipline = 'political science'">Political Science</mat-option>
                <mat-option #input value="psychology" (click) = "submission.academicDiscipline = 'psychology'">Psychology</mat-option>
                <mat-option #input value="secondary education" (click) = "submission.academicDiscipline = 'secondary education'">Secondary Education</mat-option>
                <mat-option #input value="social science" (click) = "submission.academicDiscipline = 'social science'">Social Science</mat-option>
                <mat-option #input value="sociology" (click) = "submission.academicDiscipline = 'sociology'">Sociology</mat-option>
                <mat-option #input value="spanish" (click) = "submission.academicDiscipline = 'spanish'">Spanish</mat-option>
                <mat-option #input value="sport management" (click) = "submission.academicDiscipline = 'sport management'">Sport Management</mat-option>
                <mat-option #input value="statistics" (click) = "submission.academicDiscipline = 'statistics'">Statistics</mat-option>
                <mat-option #input value="studio art" (click) = "submission.academicDiscipline = 'studio art'">Studio Art</mat-option>
                <mat-option #input value="theatre arts" (click) = "submission.academicDiscipline = 'theatre arts'">Theatre Arts</mat-option>
                <mat-option #input value="other" (click)="this.other = true">Other</mat-option>
            </mat-select>
            <br><br>

            <mat-form-field *ngIf="this.other">
                <textarea matInput
                          placeholder="Please specify"
                          (input) = "submission.academicDiscipline = $event.target.value"
                          rows="1"
                          cols="1"></textarea>
            </mat-form-field>
        </div>
    </div>

    <div class="category">
        <div id="presentation-type">
            <span><b>Type of Presentation: </b>{{submission.presentationType}}</span>
            <mat-select placeholder="New Type of Presentation">
                <mat-option #input value="poster or visual display" (click) = "submission.presentationType = 'poster or visual display'">Poster or Visual Display</mat-option>
                <mat-option #input value="oral presentation" (click) = "submission.presentationType = 'oral presentation'">Oral Presentation</mat-option>
                <mat-option #input value="performance" (click) = "submission.presentationType = 'performance'">Performance</mat-option>
            </mat-select>
        </div>

        <div id="feature-presenter">
            <span><b>Willing to be Feature Presentation: </b>{{submission.willingToBeFeaturePresenter}}</span>
            <br>
            <mat-radio-group (change)="onFeaturePresentationChange($event)">
                <mat-radio-button color="primary" value="yes" [checked]='this.submission.willingToBeFeaturePresenter == "yes"'>Yes</mat-radio-button>&nbsp;&nbsp;
                <mat-radio-button color="primary" value="no" [checked]='this.submission.willingToBeFeaturePresenter == "no"'>No</mat-radio-button>
            </mat-radio-group>
        </div>
    </div>

    <div class="category">
        <div id="format">
            <span><b>Submission Format: </b> {{submission.submissionFormat}}</span>
            <mat-select placeholder="New Submission Format">
                <mat-option
                    #input value="artist statement"
                    (click) = "submission.submissionFormat = 'artist statement'">
                    Artist Statement
                </mat-option>

                <mat-option
                    #input value="humanities proposal"
                    (click) = "submission.submissionFormat = 'humanities proposal'">
                    Humanities Proposal
                </mat-option>

                <mat-option
                    #input value="science or social science abstract"
                    (click) = "submission.submissionFormat = 'science or social science abstract'">
                    Science or Social Science Abstract
                </mat-option>
            </mat-select>
        </div>

        <div id="format-change">
            <span><b>Willing to Change Format: </b>{{submission.willingToChangePresentationFormat}}</span>
            <br>
            <mat-radio-group (change)="onFormatChange($event)">
                <mat-radio-button value="yes" color="primary" [checked]='this.submission.willingToChangePresentationFormat == "yes"'>Yes</mat-radio-button>&nbsp;&nbsp;
                <mat-radio-button value="no" color="primary" [checked]='this.submission.willingToChangePresentationFormat == "no"'>No</mat-radio-button>
            </mat-radio-group>
        </div>
    </div>

    <div id="sponsored-orgs" class="category">
        <p>Sponsoring Organization or Fund</p>
        <p>Choose any applicable. If funded by faculty grant, specify under 'other'</p>
        <div class="checkboxes">
            <mat-checkbox (click)="newSponsor(0)" [checked]="this.submission.sponOrganization[0]">UROP</mat-checkbox>
            <br>
            <mat-checkbox (click)="newSponsor(1)" [checked]="this.submission.sponOrganization[1]">MAP</mat-checkbox>
            <br>
            <mat-checkbox (click)="newSponsor(2)" [checked]="this.submission.sponOrganization[2]">MMP</mat-checkbox>
            <br>
            <mat-checkbox (click)="newSponsor(3)" [checked]="this.submission.sponOrganization[3]">LSAMP</mat-checkbox>
            <br>
            <mat-checkbox (click)="newSponsor(4)" [checked]="this.submission.sponOrganization[4]">McNair</mat-checkbox>
        </div>
        <br>

        <div id="other-orgs">
            <span><b>OTHER Organization(s): </b> {{submission.miscSponOrganization}}</span>
            <mat-form-field class="presentationTitleBox" style="display: inline-block; width: 100%">
            <textarea matInput #input
                      placeholder="New OTHER Organization(s):"
                      (input)="submission.miscSponOrganization = $event.target.value"
                      rows="1"
                      cols="1"></textarea>
            </mat-form-field>
        </div>
    </div>

    <div class="category">
        <p>Special Categories</p>
        <p>Choose any applicable.</p>
        <div class="checkboxes">
            <mat-checkbox (click)="newCategory(0)" [checked]="this.submission.category[0]">Works in Progress</mat-checkbox>
            <br>
            <mat-checkbox (click)="newCategory(1)" [checked]="this.submission.category[1]">Capstone</mat-checkbox>
            <br>
            <mat-checkbox (click)="newCategory(2)" [checked]="this.submission.category[2]">Submitted Panel</mat-checkbox>
            <br>
            <mat-checkbox (click)="newCategory(3)" [checked]="this.submission.category[3]">Sophomore Spotlight</mat-checkbox>
        </div>
    </div>

    <div class="category">
        <div id="media-equipment">
            <span><b>Need Media Services Equipment: </b> {{submission.additionalMediaEquipment}}</span>
            <mat-form-field class="presentationTitleBox" style="display: inline-block; width: 100%">
            <textarea matInput #input
                      placeholder="New Media Services Equiptment Need"
                      (input)="submission.additionalMediaEquipment = $event.target.value"
                      rows="1"
                      cols="1"></textarea>
            </mat-form-field>
        </div>

        <div id="special-requirements">
            <span><b>Special Requirements: </b> {{submission.additionalRequirements}}</span>
            <mat-form-field class="presentationTitleBox" style="display: inline-block; width: 100%">
            <textarea matInput #input
                      placeholder="New Special Requirements Request:"
                      (input)="submission.additionalRequirements = $event.target.value"
                      rows="1"
                      cols="1"></textarea>
            </mat-form-field>
        </div>
    </div>


    <button mat-raised-button class="buttons" id="save-button" (click)="saveAbstractEdit()">SAVE</button>
</div>






